* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, $purple, $blue);
}

#root {
  width: 100%;
  height: 100vh;
  @extend %flex-center;
}
